
* {
  box-sizing:border-box;
}

header {
  background: #6ab47b;
  border-color: #599a68;
  text-align: center;
  margin: 0;
}

h1 {
  color: #fff;
  font-family: 'Changa One';
  margin: 0;
  font-size: 3.75em;
  font-weight: normal;
  padding: 10px;
}

h2 {
  font-size: 0.5em;
  padding: 10px;
}

#wrapper{

  max-width: 750px;
  margin: 0 auto;
  padding: 0 5%;
  background-image: url ("you_dont_say.jpg");
  background-size: cover;
}

body {
  background-color: lemonchiffon;
  background-position: center;
}


/***********************
IMAGES
***********************/

div img {
  height: 190px;
  width: 115px;
  display: none;
}


.floated_img
{
    border: 1px solid black;
    float: left;
    height: 190px;
    width: 115px;
    margin: 5px 1px 1px 1px;

}
